:{$CADDY_PORT} {

    encode gzip

    # ===== 静态网站 =====
    root * /var/www/html
    file_server

    # ===== WebSocket 反代 gost =====
    @ws path /ws*
    reverse_proxy @ws 127.0.0.1:{$GOST_PORT} {
        transport http {
            versions h1
        }
    }
}
